<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-button (click)="onBackClick()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="new-project-input">
        <ion-label position="stacked">Project name:</ion-label>
        <ion-input class="project-name" placeholder="Enter project name"
                   [(ngModel)]="project.name"></ion-input>
      </ion-item>

      <app-project-info [(project)]="project"></app-project-info>

      <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-card-content>
  </ion-card>

  <div class="ion-text-center">
    <ion-button class="save-button" fill="outline" (click)="onSaveClick()">Save</ion-button>
  </div>
</ion-content>
